@import "tailwindcss";
@tailwind utilities;

body {
  background: #000;
}

@keyframes laserPulse {
  0%, 100% {
    opacity: 1;
    filter: brightness(1);
  }
  50% {
    opacity: 0.8;
    filter: brightness(1.2);
  }
}